body {
    font-family: Arial, Helvetica, sans-serif
}

/* navigation links */

.background-black {
    background: black;
    background-size: auto;
    height: 40px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

#nav-bar {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 10px;
}

#nav-bar li {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
    color: white;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    border-bottom: 1px solid white;
}

.selected {
    border-bottom: 1px solid white;
}